<header>
  <h1>Faça Seu Cadastro!</h1>
</header>
<br />
<div class="form-container">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <!-- EMAIL -->
    <div class="form-row">
      <div class="form-group">
        <!-- EMAIL INPUT -->
        <label>Email *</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Insira Seu Email"
          minlength="8"
          required
        />

        <!-- EMAIL AWARNING -->
        @if (registerForm.get('email').hasError('required') &&
        registerForm.get('email').touched) {
        <p class="alert alert-warning">O campo email é obrigatório.</p>
        } @if (registerForm.get('email').hasError('minlength') &&
        registerForm.get('email').touched) {
        <p class="alert alert-warning">
          O campo email precisa conter pelo menos 8 caracteres.
        </p>
        } @if (registerForm.get('email').hasError('maxlength') &&
        registerForm.get('email').touched) {
        <p class="alert alert-warning">
          O campo email pode conter no máximo 100 caracteres.
        </p>
        }
      </div>
    </div>

    <!-- PASSWORD -->
    <div class="form-row">
      <div class="form-group">
        <!-- PASSWORD INPUT -->
        <label for="inputPassword">Senha *</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Insira Sua Senha"
          minlength="8"
          maxlength="12"
          required
        />

        <!-- PASSWORD AWARNING -->
        @if (registerForm.get('password').hasError('required') &&
        registerForm.get('password').touched) {
        <p class="alert alert-warning">O campo senha é obrigatório.</p>
        } @if (registerForm.get('password').hasError('minlength') &&
        registerForm.get('password').touched) {
        <p class="alert alert-warning">
          O campo senha precisa conter pelo menos 8 caracteres.
        </p>
        } @if (registerForm.get('password').hasError('maxlength') &&
        registerForm.get('password').touched) {
        <p class="alert alert-warning">
          O campo senha pode conter no máximo 12 caracteres.
        </p>
        }
      </div>
    </div>

    <!-- ADDRESS -->
    <div class="form-row">
      <div class="form-group">
        <!-- ADDRESS INPUT -->
        <label>Endereço *</label>
        <input
          type="text"
          class="form-control"
          formControlName="address"
          placeholder="Insira Seu Endereço"
          maxlength="100"
          required
        />

        <!-- ADDRESS AWARING -->
        @if (registerForm.get('address').hasError('required') &&
        registerForm.get('address').touched) {
        <p class="alert alert-warning">O campo endereço é obrigatório.</p>
        } @if (registerForm.get('address').hasError('maxlength') &&
        registerForm.get('address').touched) {
        <p class="alert alert-warning">
          O campo endereço pode conter no máximo 100 caracteres.
        </p>
        }
      </div>
    </div>

    <!-- COMPLEMENT -->
    <div class="form-row">
      <div class="form-group">
        <!-- COMPLEMENT INPUT -->
        <label>Complemento</label>
        <input
          type="text"
          class="form-control"
          formControlName="complement"
          placeholder="Insira o Complemento do Endereço"
          maxlength="100"
        />

        <!-- COMPLEMENT AWARING -->
        @if (registerForm.get('complement').hasError('maxlength') &&
        registerForm.get('complement').touched) {
        <p class="alert alert-warning">
          O campo endereço pode conter no máximo 100 caracteres.
        </p>
        }
      </div>
    </div>

    <!-- CITY -->
    <div class="form-row">
      <div class="form-group">
        <!-- CITY INPUT -->
        <label>Cidade *</label>
        <input
          type="text"
          class="form-control"
          formControlName="city"
          placeholder="Insira Sua Cidade"
          maxlength="100"
          required
        />

        <!-- CITY AWARING -->
        @if (registerForm.get('city').hasError('required') &&
        registerForm.get('city').touched) {
        <p class="alert alert-warning">O campo cidade é obrigatório.</p>
        } @if (registerForm.get('city').hasError('maxlength') &&
        registerForm.get('city').touched) {
        <p class="alert alert-warning">
          O campo cidade pode conter no máximo 100 caracteres.
        </p>
        }
      </div>
    </div>

    <!-- STATE -->
    <div class="form-row">
      <div class="form-group">
        <!-- STATE SELECT -->
        <label>Estado *</label>
        <select class="form-control" formControlName="state" required>
          <option value="" disabled selected>Escolha Seu Estado:</option>
          <option *ngFor="let state of stateList" [value]="state">
            {{ state }}
          </option>
        </select>

        <!-- STATE AWARNING -->
        @if (registerForm.get('state').hasError('required') &&
        registerForm.get('state').touched) {
        <p class="alert alert-warning">O campo estado é obrigatório.</p>
        }
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg register" role="button">
      Cadastre-se
    </button>
  </form>
</div>
